.price {
  color: #000;
  background: #ff0;
}

li.roman {
  list-style-type: lower-roman;
}

.nav > li > a {
  position: relative;
  display: block;
  /* padding: 10px 15px; */
  padding: 10px 12px;
}
